apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: netology-homework
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
          protocol: TCP
      initContainers:
       - name: service-check
         image: busybox
         command: ['sh', '-c', 'until nslookup nginx-service.netology-homework.svc.cluster.local; do echo waiting for service; sleep 2; done']