apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: web
  name: nginx
  namespace: netology-homework
spec:
  replicas: 2
  selector:
    matchLabels:
      name: web
  template:
    metadata:
      labels:
        name: web
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
          protocol: TCP
      - name: multitool
        image: wbitt/network-multitool
        env:
          - name: HTTP_PORT
            value: "8080"
        ports:
          - containerPort: 8080
            protocol: TCP
